<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Sitio de Post :3</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a>Posts</a>
        <ul class="dropdown">
        	<li><%= link_to 'Lista', controller: '/posts',action: 'index' %></li>
          	<li><%= link_to 'Nuevo', controller: '/posts',action: 'new' %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>