<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Post :3" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="../assets/stylesheets/main.css">
  </head>

  <body>
    
    <%= render 'posts/navigationbar' %>

    <% flash.each do |name,msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, class: "alert-box #{name}" %>
      <%end%>
    <%end%>
    
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
